* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* progress  */
.progressWrapper {
  background-color: #11161c;
  height: 8px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}

.progressStyle {
  height: 8px;
  background-color: #133e70;
}

/* navbar  */
.navbar {
  max-width: 100%;
  position: sticky;
  color: black;
  top: 0;
  font-size: 1.1rem;
  background: linear-gradient(
    to left,
    rgba(14, 50, 89, 0.9),
    rgba(14, 50, 89, 0.8)
  );
  z-index: 3;
  height: 80px;
  max-height: auto;
  transition: all 0.3s;
}
.navbar.active {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.skillsbar {
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 3px;
  border-bottom: 2px solid transparent;
}
.skillsbar:hover {
  border-radius: 5px;
  color: white;
  border-bottom: 2px solid #0c3665;
}

.skillsbar.nav-link.active {
  color: white;
}
/* scrollbutton */
.scrollButton {
  position: fixed;
  bottom: 15%;
  left: 95%;
  width: -webkit-max-content;
  width: max-content;
  background: rgba(18, 64, 113, 0.8);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -webkit-transform: translateX(-50%);
  border-radius: 3rem;
  transform: translateX(-50%);
  z-index: 2;
}

.scrollButton:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4px 1px rgba(12, 46, 81, 0.8);
}

.arrow {
  min-width: 1.5rem;
  min-height: 2rem;
  filter: invert();
}

/* sidebar */
.sidebar {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background: rgba(14, 50, 89, 0.5);
  border-radius: 3rem;
  bottom: 50%;
  gap: 0.8rem;
  left: 95%;
  min-height: 100px;
  position: fixed;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: -webkit-max-content;
  width: max-content;
  z-index: 2;
}
@media only screen and (max-width: 992px) {
  #basic-navbar-nav {
    background-color: rgba(14, 50, 89, 0.5);
  }
  .skillsbar {
    color: #ffffff;
  }
}

@media screen and (max-width: 769px) {
  .sidebar {
    top: 50%;
    left: 85%;
  }

  .scrollButton {
    bottom: 15%;
    left: 85%;
  }
}
.lightdarkicon {
  margin-left: 5px;
  width: 25px;
  height: 25px;
}
.lightdarkicon:hover {
  cursor: pointer;
}
.langselect {
  background-color: transparent;
  color: white;
  border: none;
}

/* darkmode */
#dark {
  background-color: #11161c;
  color: white;
}

/* card */
.mycard {
  background-color: #f2f6fa;
  width: 18rem;
  border: 2px solid #0c55a7;
}
.maincolor {
  color: #0c55a7;
}
.links {
  width: 5rem;
  background-color: #0c55a7;
}
.links:hover {
  background-color: #0c3665;
}
#dark .mycard {
  background-color: #0e3259;
}
.info:hover {
  cursor: pointer;
}
.aboutp {
  width: 75%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.aboutpshow {
  width: 100%;
  height: auto;
  max-height: 100rem;
  transition: all 0.5s;
}
.wavinghand {
  width: 10rem;
  animation: wave 2.5s infinite linear;
}

@keyframes wave {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
/* skill */
#techskills {
  background: linear-gradient(to right, #f3f5f7, #e5ebf1);
}
#dark #techskills {
  background: linear-gradient(to right, #11161c, #1d2530);
}
.skill {
  position: relative;
  max-width: 5rem;
  transition: 0.5s;
}

.skilltitle {
  color: #041529;
}

.skill:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#dark .skilltitle {
  color: white;
}

/* projects */
.project {
  background: linear-gradient(to left, #f3f5f7, #f5f8fa);
  margin: 2rem 1rem;
  border-radius: 1rem;
}
#dark .project {
  /* border: 2px solid #12447a; */
  background: linear-gradient(to left, #041527, #0a1e33);
}
#projects img {
  border-radius: 1rem;
  width: 25rem;
}

.filterby {
  border: none;
}
#dark .filterby {
  color: white;
  background-color: rgb(31, 28, 28);
  border: none;
}

.piccont {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
}

.piccont #link1 {
  position: absolute;
  background-color: rgb(28, 84, 141);
  height: 50%;
  width: 100%;
  top: 0;
  bottom: 50;
  left: 0;
  right: 0;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
  opacity: 0.02;
}

.piccont #link1:hover {
  opacity: 0.5;
}

.piccont #link2 {
  position: absolute;
  background-color: rgb(20, 61, 102);
  height: 50%;
  width: 100%;
  top: 50;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
  opacity: 0.02;
}

.piccont #link2:hover {
  opacity: 0.5;
}

.imgtext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* contact */
#contact {
  max-width: 100%;
  color: white;
  background-image: url("https://res.cloudinary.com/dffxhlnzz/image/upload/v1678879776/wave_qscdts.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* button */

.projectBtn {
  border-bottom: 1px solid #0c55a7;
  padding: 5px;
  position: relative;
  color: black;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}
#dark .projectBtn {
  color: white;
}

.projectBtn:before,
.projectBtn:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.projectBtn:hover {
  color: white;
  transition-delay: 0.3s;
}

.projectBtn:hover:before {
  transition-delay: 0s;
}

.projectBtn:hover:after {
  background-color: #0c55a7;
  transition-delay: 0.3s;
}

.from-top:before,
.from-top:after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-top:before {
  bottom: 0;
  border: 1px solid #0c55a7;
  border-top: 0;
  border-bottom: 0;
}

.from-top:after {
  top: 0;
  height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
  height: 100%;
}
